<% @order_items.each do |item| %>
<ul>
  <li>
    <%= item.product.name %>
  </li>
  <li>
    <%= item.quantity %>
  </li>
  <li>
    <%= link_to "Delete", destroy_item_path(:id => item.id),
    data: { confirm: "Are you sure you want to delete this item?" },
    method: :delete, class: "alert button"
%>
  </li>
  <li>
    <%= form_for item, url: order_item_path(item.id), method: :patch do |f| %>
    <%= f.select(:quantity, (1..item.product.quantity)) %>
    <%= f.submit "Update Quantity" %>
    <% end %>
  </li>
</ul>

<% end %>

<p>
  Your subtotal is <%= @order.subtotal %> ghost dollas
</p>
