<h2>Pay Now</h2>

<%= form_for :payment, url: new_payment_path, method: :get do |f| %>
<%= f.label "Email" %>
<%= f.text_field :email %><br />
<%= f.label "Mailing Address" %>
<%= f.text_field :mailing_address %><br />
<%= f.label "Name on credit card" %>
<%= f.text_field :name_on_credit_card %><br />
<%= f.label "Credit card number" %>
<%= f.text_field :credit_card_number %><br />
<%= f.label "Credit card expiration" %>
<%= f.text_field :credit_card_expiration %><br />
<%= f.label "Credit Card CVV (security code)" %>
<%= f.text_field :credit_card_ccv %><br />
<%= f.label "Billing zip code" %>
<%= f.text_field :billing_zip_code %>

<% end %>
