<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<h3>Product: <%= @product.name %></h3>


  <li><%= link_to @product.name, product_path(@product) %></li>
  <p>Merchant: <%= link_to @product.merchant.name, merchant_path(@product.merchant) %></p>
  <p><%= @product.description %></p>
  <p>Cost: <%= @product.price %></p>
  <p><%= @product.quantity %> in stock</p>
  <p>Categories: <% @product.categories.each do |c| %><%= c.name %><% end %></p>

  <%= form_for :order_items, url: order_items_path, method: :post do |f| %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.select(:quantity, (1..@product.quantity)) %>

  <%= f.submit "Add to Cart" %> (Currently redirects to product page; should redirect to cart )</p>
  <% end %>

  <%= form_for :reviews, url: reviews_path, method: :post do |f| %>
  <%= f.label "How spoopy was this product" %><i class="em em-scream"></i>
  <%= f.select(:rating, (1..5)) %>
  <%= f.label :description %>
  <%= f.text_area :description, size: "40x10" %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.submit "Tell someone who cares" %>
  <% end %>

  <p>
    Average spookiness: <% @product.rating.times do %><i class="em em-scream"></i><% end %>
  </p>
  <% @product.reviews.each do |r| %>
  <p>
    <% r.rating.times do %><i class="em em-ghost"></i><% end %>
    <%= r.description %>
  </p>
  <% end %>
